* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/2147029/pexels-photo-2147029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #fff;
  margin-top: 20px;
  padding: 30px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "box1 box2 box3"
    "box1 box2 box3"
    "box4 box4 box4"
    "footer footer footer";
  grid-gap: 10px;
  padding: 20px;
  margin-top: 40px;
  max-width: 420px;
}

header {
  grid-area: header;
  text-align: center;
  margin-bottom: 20px;
}

.box1 {
  grid-area: box1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box4 {
  grid-area: box4;
  text-align: center;
}

.drum-kit {
  text-align: center;
}

.drum-button {
  padding: 50px;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.drum-button:hover {
  background-color: #2980b9;
  border: 1px yellow solid;
}

.drum-button.active {
  background-color: red;
}

.kick {
  width: 200px;
  height: 200px;  
}

footer {
  grid-area: footer;
  font-size: 0.8rem;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
